<section class="content-header">
  <h1>
    Selecione um Prestador para consultar a Agenda.
  </h1>
  <ol class="breadcrumb">
    <li>
      <a [routerLink]="['/empreendimentos']"
        ><i class="fa fa-calendar"></i> Agendamento</a
      >
    </li>
    <li><a [routerLink]="['/empreendimentos']">Empreendimentos</a></li>
    <li class="active">Prestadores</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-4">
      <div class="box box-success box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Especialidades e Convênios</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
          <div class="box-body">
            <div class="form-group">
              <label for="especialidade">Especialidade</label>
              <select
                id="especialidade"
                [(ngModel)]="especialidadeSelecionada"
                (ngModelChange)="onChangeEspecialidade($event)"
                name="especialidade"
                class="form-control select2"
              >
                <option [value]="0" selected>Selecione</option>
                <option
                  [value]="especialidade.id"
                  *ngFor="let especialidade of especialidades"
                  >{{ especialidade.nome }}</option
                >
              </select>
            </div>
            <div class="form-group">
              <label for="convenio">Convênio</label>
              <select id="convenio"
              [(ngModel)]="convenioSelecionado"
              (ngModelChange)="onChangeConvenio($event)"
              name="convenio"
              class="form-control select2"
            >
              <option *ngIf="especialidadeSelecionada == 0" value="0"
                >Selecione</option
              >
              <option *ngFor="let convenio of convenios" [ngValue]="convenio">
                {{ convenio.nome }}</option
              >
            </select>
            </div>
            <div class="icon" *ngIf="uriFotoConvenio !== undefined">
                <img
                  [src]="uriFotoConvenio"
                  class="img-convenio img-fluid img-thumbnail"
                  alt="carregando imagem... "
                />
              </div>
          </div>
          <!-- /.box-body -->

        </form>
      </div>

      <!-- /.box -->



<!-- PRESTADORES -->

<div class="box box-success box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">Prestadores</h3>
      <div class="box-tools pull-right"></div>
    </div>

    <div class="box-body">
        <div
          class="row"
          *ngIf="prestadores !== undefined"
          style="margin-left: 5px"
        >
          <div class="box-body">
            <ul
              class="products-list product-list-in-box prestadores"
              *ngFor="let prestador of prestadores"
            >
              <div id="prestadorItem">
              <a (click)="selecionarPrestador(prestador)" class="product-title"
                ><li class="item">
                  <div class="product-img">
                    <img
                      class="direct-chat-img"
                      [src]="prestador.uriFoto"
                      [alt]="prestador.nome"
                    />
                  </div>
                  <div class="product-info" style="color: #00a65a">
                    <h4>{{ prestador.tratamento }} {{ prestador.nome }}</h4>

                    <span
                      class="product-description"
                      style="margin-top: -10px;"
                    >
                      <b>{{ prestador.tipoEspecialidade }}</b>
                    </span>
                    <i class="fa fa-play icone-direita"></i>

                  </div>
                </li>
              </a>
              <hr />
            </div>

            </ul>
          </div>

        </div>

    </div>
  </div>

    </div>

    <div class="col-md-8">
        <div class="box box-success box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">Horários Disponíveis</h3>
            <div class="box-tools pull-right"></div>
          </div>
          <div class="box-body">

           <app-horarios-disponiveis></app-horarios-disponiveis>
          </div>
      </div>
      </div>
  </div>

<!--end prestadores-->
  <!-- /.box-body -->
</section>
