<section class="content-header">
  <h1>
    Selecione um empreendimento para prosseguir com o Agendamento.
  </h1>
  <ol class="breadcrumb">
    <li>
      <a [routerLink]="['/empreendimentos']"
        ><i class="fa fa-calendar"></i> Agendamento</a
      >
    </li>
    <li class="active"><a [routerLink]="['/empreendimentos']">Empreendimentos</a></li>
  </ol>
</section>

<section class="content">
  <div class="box box-info box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">Empreendimentos</h3>
    </div>

    <div class="box-body">
      <div
        *ngIf="empreendimentos !== undefined; else empreendimentosPrestadores"
      >
        <section class="content">
          <div class="row">
            <div
              class="col-lg-4 col-xs-12"
              *ngFor="let empreendimento of empreendimentos"
            >
              <!-- small box -->
              <a [routerLink]="['/empreendimentos', empreendimento.id]">
                <div class="small-box bg-aqua">
                  <div class="inner">
                    <h4>{{ empreendimento.nomeFantasia }}</h4>
                    <p>{{ empreendimento.razaoSocial }}</p>
                    <p>Bairro: {{ empreendimento.bairro }}</p>
                    <p>{{ empreendimento.endereco }}</p>
                    <p>
                      <i class="fa fa-phone"></i> {{ empreendimento.telefone }}
                    </p>
                  </div>
                  <div class="icon">
                    <i class="fa fa-hospital-o"></i>
                  </div>
                  <a
                    href="javascript:void(0)"
                    (click)="selecionarEmpreendimento(empreendimento.id)"
                    class="small-box-footer"
                  >
                    Consultar Prestadores <i class="fa fa-arrow-circle-right"></i>
                  </a>
                </div>
              </a>
            </div>
          </div>
        </section>
      </div>
    </div>
    <ng-template #empreendimentosPrestadores>
      <p>
        <i class="fa fa-refresh fa-spin"></i> Consultando empreendimentos...
      </p>
    </ng-template>
  </div>
</section>
