.content-wrapper {
    min-height: 100%;
    background-color: #f7f7f7;
    z-index: 800;
    padding-left: 10px;
}

.content-header h1 {
    font-weight: 400;
    color: #999;
    margin: 5px 0;
}

.content-header h1 i {
    margin-right: 5px;
}

.widget-user-username, .widget-user-desc {
    margin-left: 0;
}

.bg-cyan {
    background-color: #28abaa;
    color: #FFF;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    /* border-top: 3px solid #DDD; */
    margin: 10px 0;
    width: 100%;
    /* box-shadow: 0 1px 1px rgba(0,0,0,0.1); */
}

.box:first-child {
    margin-top: 0;
}

.box.box-primary {
    border-top-color: #fea708;
}

/* .box-title {
    font-size: 1.1em;
    margin-left: 10px;
} */
