<!-- Modal -->
<div class="modal fade" id="modal-info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">NIO - Núcleo
                  Integrado de Odontologia</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p style="margin-bottom: -2px;"><i class="fa fa-map-marker margin-r-5"></i><b>Edifício Metropolitan Tower, Rua dos Mundurucus</b></p>
                <p style="margin-bottom: -2px; margin-left: 13px">Sala 1104</p>
                <p style="margin-bottom: -2px; margin-left: 13px">Bairro: Cremação</p>
                <p style="margin-bottom: -2px;"><b><i class="fa fa-phone margin-r-5"></i>3230-1787</b></p>
                <hr>

                <div style="text-align: center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.6863008085948!2d-48.3561772851657!3d-1.3648920361021297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92a45f7eb5b6e657%3A0xb70b7c97538814ee!2sCondom%C3%ADnio+Citt%C3%A1+Maris!5e0!3m2!1spt-BR!2sbr!4v1553998290795!5m2!1spt-BR!2sbr" width="500" height="260" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              </div>
          </div>
    </div>
  </div>
