<!-- INICIO DO CONTEÚDO -->
<section class="content-header">
</section>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Agendamento Eletrônico</h1>
    <p class="lead text-muted">Você deseja marcar uma consulta ? <br>Procure o Empreendimento mais proxima de você</p>
    <p>
      <a class="btn btn-primary btn-lg" [routerLink]="['/empreendimentos']">Ver Empreendimentos</a>
    </p>
  </div>
</section>

<app-chat></app-chat>
<!-- FIM DO CONTEÚDO -->
